.boxes{
    background-image:url("../images/boxes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.messagesIcons{
    display: none ;
}
.messagesCon li:hover{
    background-color: #f5f7f7;
}
.messagesCon li:hover .messagesIcons{
    display: flex;
}
.messagesCon li:hover .time h4{
    display: none;
}  
.messagesIcons i:hover{
    color:red
}  

@media(max-width:1440px){
.logoLayer p{
    font-size: 15px ;
}
.logoLayer .search i,
.profilePics i{
    height: 15px;
    width: 15px;
}
.logoLayer .search input{
    padding-block: 11px;
    font-size: 11.5px;
}

.logoLayer .search h5{
    font-size: 9px;
}
.logoLayer .search span{
    width: 9px;
    height: 9px;
}
.profilePics .image{
    width: 18px;
    height: 18px;
}

.boxes{
    height: 30px;
}
.reload i{
    width: 10px;
    height: 10px;
}
.reload span{
    font-size: 10px;
}
.arrowDown{
    width: 4px;
    height: 4px;
}
.indicators{
    font-size: 10px;
}
.indicators span{
    font-size: 8px;
}
.indicators i{
    width: 16px;
    height: 16px;
}
.scheduleIcons i{
    width: 15px;
    height: 15px;
}
.messagesCon ul li{
    font-size: 10px;
}
.messagesCon ul li i{
    width: 13px;
    height: 13px;
}

}

@media(max-width:1100px){
    .header{
        display:none
    }
    .inboxTabs{
        display: block;
    }
    
    .inboxTabs p{
        display:block;
    }
    
    .menu div i{
        width: 15px;
        height: 15px;
    }
    .logoLayer,
    .profilePics{
        display:none
    }
    .scheduleTab{
        display:none
    }
}

@media(max-width:500px){
    .menu{
        width: 50%;
    }
    .cog{
        display:flex
    }

}