

.container{
    font-size: 14px !important;
}



.slots tr{
    background-color: #3e6990;
    cursor:pointer;
}



.fc-theme-standard td, .fc-theme-standard th{
    border: 1px solid red
}



.days{
    font-size: 11px;
    background-color: #ebf5ff;
}

.cells{
    font-size: 11px;
    background-color: #ebf5ff;
}

.fc .fc-header-toolbar.fc-toolbar{
    display: block !important;
    justify-content: center !important;
}

.calendar_container__FboGM{
    border: none;
}

.containe .fc-scrollgrid{
    overflow: visible !important;
}

.containe .fc-theme-standard .fc-scrollgrid{
    border:none
}

.containe .fc .fc-view-harness-active {
    inset: 0px;
    position: relative;
    height: 300px;
}

.containe .fc .fc-scroller-harness {
    /* direction: ltr; */
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    position: relative;
    background-color: #ebf5ff !important;
}

.containe .fc-direction-ltr {
    direction: ltr;
    text-align: center !important;
}